# Cargar librerias

In [62]:
import pandas as pd

## Cargar Archivo .csv

In [63]:
# Configura pandas para no usar notación científica
pd.set_option('display.float_format', '{:.2f}'.format)
# Lee el archivo CSV
df = pd.read_csv('../Data/db/Originales/inmuebles_dommies.csv')
df.dropna(inplace=True)
# Muestra las primeras filas del archivo
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Casa en venta en La Princesa,La Princesa,235000000,2.00,3.00,73.00,3.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Filtrado sobre precio.

In [64]:
filtro=(df['precio'] > 60000000) & (df['precio']<2000000000)
df=df[filtro].copy()
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Casa en venta en La Princesa,La Princesa,235000000,2.00,3.00,73.00,3.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Minimo y maximos de Metros Cuadrados.

In [65]:
minimo = min(df['metros_construidos'])
maximo = max(df['metros_construidos'])
print(f"Minimo de Mtr²: {minimo}, y maximo de Mtr²: {maximo}")

Minimo de Mtr²: 2.0, y maximo de Mtr²: 47679.0

## Filtrado de Metros cuadrados

In [66]:
filtro = (df['metros_construidos'] >= 40) & (df['metros_construidos'] <= maximo) & df['metros_construidos'].notnull()
df=df[filtro].copy()
df.reset_index(drop=True, inplace=True)
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.00,3.00,166.00,5.00,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Casa en venta en La Princesa,La Princesa,235000000,2.00,3.00,73.00,3.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Resumen

In [67]:
# Resumen completo
resumen_completo = df.describe(include='all')
print(resumen_completo)

                            titulo localizacion        precio  baños  \
count                          821          821        821.00 821.00
unique                         125          125           NaN    NaN
top     Casa en venta en Cartagena    Cartagena           NaN    NaN
freq                           138          138           NaN    NaN
mean                           NaN          NaN  754072277.46   3.32
std                            NaN          NaN  470857194.09   1.31
min                            NaN          NaN  165000000.00   2.00
25%                            NaN          NaN  380000000.00   2.00
50%                            NaN          NaN  600000000.00   3.00
75%                            NaN          NaN 1030000000.00   4.00
max                            NaN          NaN 1990000000.00   9.00

        habitabiones  metros_construidos  estrato  parqueadero  gas_natural  \
count         821.00              821.00   821.00       821.00       821.00
unique           NaN                 NaN      NaN          NaN          NaN
top              NaN                 NaN      NaN          NaN          NaN
freq             NaN                 NaN      NaN          NaN          NaN
mean            4.10              296.01     4.12         0.51         0.35
std             1.66             1667.68     1.10         0.50         0.48
min             2.00               40.00     1.00         0.00         0.00
25%             3.00              140.00     3.00         0.00         0.00
50%             4.00              194.00     4.00         1.00         0.00
75%             5.00              300.00     5.00         1.00         1.00
max            18.00            47679.00     6.00         1.00         1.00

        conina_integral  ...  cancha_tenis  terraza  internet  \
count            821.00  ...        821.00   821.00    821.00
unique              NaN  ...           NaN      NaN       NaN
top                 NaN  ...           NaN      NaN       NaN
freq                NaN  ...           NaN      NaN       NaN
mean               0.40  ...          0.06     0.04      0.04
std                0.49  ...          0.24     0.18      0.18
min                0.00  ...          0.00     0.00      0.00
25%                0.00  ...          0.00     0.00      0.00
50%                0.00  ...          0.00     0.00      0.00
75%                1.00  ...          0.00     0.00      0.00
max                1.00  ...          1.00     1.00      1.00

        tanque_de_de_agua  permite_ninos  solo_familias  sauna  estudio  \
count              821.00         821.00         821.00 821.00   821.00
unique                NaN            NaN            NaN    NaN      NaN
top                   NaN            NaN            NaN    NaN      NaN
freq                  NaN            NaN            NaN    NaN      NaN
mean                 0.02           0.02           0.02   0.01     0.02
std                  0.15           0.13           0.13   0.12     0.14
min                  0.00           0.00           0.00   0.00     0.00
25%                  0.00           0.00           0.00   0.00     0.00
50%                  0.00           0.00           0.00   0.00     0.00
75%                  0.00           0.00           0.00   0.00     0.00
max                  1.00           1.00           1.00   1.00     1.00

        conserje  caseta_vigilancia
count     821.00             821.00
unique       NaN                NaN
top          NaN                NaN
freq         NaN                NaN
mean        0.01               0.01
std         0.12               0.12
min         0.00               0.00
25%         0.00               0.00
50%         0.00               0.00
75%         0.00               0.00
max         1.00               1.00

[11 rows x 39 columns]

## Limpiar datos de localización donde tenga conincidencia que no sean barrios

In [68]:
# Eliminar filas donde 'localizacion' contiene los valores específicos
df = df[~df['localizacion'].str.contains('Provincia de Cartagena|Cartagena', na=False)]

## Exportar Datos limpios

In [69]:
df.to_csv('../Data/db/Procesados/data_limpia.csv', index=False)