# Cargar librerias

In [52]:
import pandas as pd

## Cargar Archivo .csv

In [53]:
# Lee el archivo CSV
df = pd.read_csv('../Data/db/Originales/inmuebles_dommies.csv')
df.dropna(inplace=True)
# Muestra las primeras filas del archivo
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Casa en venta en La Princesa,La Princesa,235000000,2.0,3.0,73.0,3.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Filtrado sobre precio.

In [54]:
filtro=(df['precio'] > 60000000) & (df['precio']<2000000000)
df=df[filtro].copy()
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Casa en venta en La Princesa,La Princesa,235000000,2.0,3.0,73.0,3.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Minimo y maximos de Metros Cuadrados.

In [55]:
minimo = min(df['metros_construidos'])
maximo = max(df['metros_construidos'])
print(f"Minimo de Mtr²: {minimo}, y maximo de Mtr²: {maximo}")

Minimo de Mtr²: 2.0, y maximo de Mtr²: 47679.0

## Filtrado de Metros cuadrados

In [56]:
filtro = (df['metros_construidos'] >= 40) & (df['metros_construidos'] <= maximo) & df['metros_construidos'].notnull()
df=df[filtro].copy()
df.reset_index(drop=True, inplace=True)
df.head(3)

,titulo,localizacion,precio,baños,habitabiones,metros_construidos,estrato,parqueadero,gas_natural,conina_integral,...,cancha_tenis,terraza,internet,tanque_de_de_agua,permite_ninos,solo_familias,sauna,estudio,conserje,caseta_vigilancia
0,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Casa en venta en Manga,Manga,700000000,2.0,3.0,166.0,5.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Casa en venta en La Princesa,La Princesa,235000000,2.0,3.0,73.0,3.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Resumen

In [57]:
# Resumen completo
resumen_completo = df.describe(include='all')
print(resumen_completo)

                            titulo localizacion        precio       baños  \
count                          821          821  8.210000e+02  821.000000
unique                         125          125           NaN         NaN
top     Casa en venta en Cartagena    Cartagena           NaN         NaN
freq                           138          138           NaN         NaN
mean                           NaN          NaN  7.540723e+08    3.315469
std                            NaN          NaN  4.708572e+08    1.312832
min                            NaN          NaN  1.650000e+08    2.000000
25%                            NaN          NaN  3.800000e+08    2.000000
50%                            NaN          NaN  6.000000e+08    3.000000
75%                            NaN          NaN  1.030000e+09    4.000000
max                            NaN          NaN  1.990000e+09    9.000000

        habitabiones  metros_construidos     estrato  parqueadero  \
count     821.000000          821.000000  821.000000   821.000000
unique           NaN                 NaN         NaN          NaN
top              NaN                 NaN         NaN          NaN
freq             NaN                 NaN         NaN          NaN
mean        4.098660          296.006090    4.124239     0.505481
std         1.664921         1667.677024    1.102839     0.500275
min         2.000000           40.000000    1.000000     0.000000
25%         3.000000          140.000000    3.000000     0.000000
50%         4.000000          194.000000    4.000000     1.000000
75%         5.000000          300.000000    5.000000     1.000000
max        18.000000        47679.000000    6.000000     1.000000

        gas_natural  conina_integral  ...  cancha_tenis     terraza  \
count    821.000000       821.000000  ...    821.000000  821.000000
unique          NaN              NaN  ...           NaN         NaN
top             NaN              NaN  ...           NaN         NaN
freq            NaN              NaN  ...           NaN         NaN
mean       0.353228         0.399513  ...      0.059683    0.035323
std        0.478264         0.490097  ...      0.237044    0.184707
min        0.000000         0.000000  ...      0.000000    0.000000
25%        0.000000         0.000000  ...      0.000000    0.000000
50%        0.000000         0.000000  ...      0.000000    0.000000
75%        1.000000         1.000000  ...      0.000000    0.000000
max        1.000000         1.000000  ...      1.000000    1.000000

          internet  tanque_de_de_agua  permite_ninos  solo_familias  \
count   821.000000         821.000000     821.000000     821.000000
unique         NaN                NaN            NaN            NaN
top            NaN                NaN            NaN            NaN
freq           NaN                NaN            NaN            NaN
mean      0.035323           0.023143       0.017052       0.017052
std       0.184707           0.150448       0.129545       0.129545
min       0.000000           0.000000       0.000000       0.000000
25%       0.000000           0.000000       0.000000       0.000000
50%       0.000000           0.000000       0.000000       0.000000
75%       0.000000           0.000000       0.000000       0.000000
max       1.000000           1.000000       1.000000       1.000000

             sauna     estudio    conserje  caseta_vigilancia
count   821.000000  821.000000  821.000000         821.000000
unique         NaN         NaN         NaN                NaN
top            NaN         NaN         NaN                NaN
freq           NaN         NaN         NaN                NaN
mean      0.013398    0.020706    0.014616           0.014616
std       0.115043    0.142487    0.120084           0.120084
min       0.000000    0.000000    0.000000           0.000000
25%       0.000000    0.000000    0.000000           0.000000
50%       0.000000    0.000000    0.000000           0.000000
75%       0.000000    0.000000    0.000000           0.000000
max       1.000000    1.000000    1.000000           1.000000

[11 rows x 39 columns]

## Limpiar datos de localización donde tenga conincidencia que no sean barrios

In [58]:
# Eliminar filas donde 'localizacion' contiene los valores específicos
df = df[~df['localizacion'].str.contains('Provincia de Cartagena|Cartagena', na=False)]

## Exportar Datos limpios

In [59]:
df.to_csv('../Data/db/Procesados/data_limpia.csv', index=False)